.transactions-table {
  width: 100%;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.filter-date,
.filter-search {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Montserrat', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #F3F3F3;
  color: #121E6C;
}

td {
  color: #606060;
}
