<div class="transactions-table">
  <table>
    <thead>
      <tr>
        <th>Transacción</th>
        <th>Fecha y Hora</th>
        <th>Método de Pago</th>
        <th>ID Transacción</th>
        <th>Monto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions" (click)="openModal(transaction)">
        <td class="clickable">{{ transaction.status }}</td>
        <td>{{ transaction.createdAt | date:'short' }}</td>
        <td>{{ transaction.paymentMethod }}</td>
        <td class="clickable">{{ transaction.id }}</td>
        <td>{{ transaction.amount | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-transaction-details-modal
  *ngIf="selectedTransaction"
  [transaction]="selectedTransaction"
  (close)="closeModal()">
</app-transaction-details-modal>
