
/* CSS Base para Dashboard */

.dashboard-container {
  padding: 0px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* CSS Base para Filtros de fechas y tarjeta de total */
.filters-and-card {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* CSS Base tarjeta de total */
.total-card-container {
  flex: 0.5;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.total-card-title {
  background: linear-gradient(90deg, #121E6C, #EE424E);
  padding: 10px 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 0;
}

.total-card {
  padding: 20px;
  flex: 1;
}

.total-amount {
  font-size: 24px;
  font-weight: bold;
  color: #121E6C;
  margin-bottom: 10px;
}

.total-date {
  font-size: 16px;
  color: #606060;
}

/* CSS Base para Filtros de fechas */
.quick-filters {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.filter-button, .filter-select {
  padding: 10px 20px;
  background-color: #f6f4f9;
  border: none;
  border-radius: 50px;
  color: #606060;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.filter-button:hover, .filter-select:hover {
  background-color: #e0e0e0;
}

.filter-select {
  padding: 10px 15px;
  background-color: #f6f4f9;
  border: none;
  border-radius: 50px;
  color: #606060;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  appearance: none;
}

.filter-select::after {
  content: "▼";
  font-size: 12px;
  color: #606060;
  margin-left: 10px;
}

/* Estilos para el contenedor de la tabla */
.table-container {
  width: 100%;
  max-width: 90%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #121E6C, #EE424E);
  padding: 10px 20px;
}

.table-title {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 0;
}


/* Estilos para filtro buscador */
.search-filter {
  margin: 0;
}

.search-filter input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Montserrat', sans-serif;
}


/* Estilos para filtro por tipo de pago */
.filter-type-button {
  background-color: #F3F3F3;
  color: #121E6C;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: #0D1656;
}

.filter-type-icon {
  height: 20px;
  margin-right: 10px;
}

.filter-type-menu {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 20px;
  top: 60px;
  z-index: 1000;
  width: 250px;
}

.filter-type-options label {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  color: #606060;
}

.apply-filter-type-button {
  background-color: #EE424E;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-top: 20px;
}

.apply-filter-type-button:hover {
  background-color: #C73A46;
}

/* Estilo para el tooltip */
.icon-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  color: #121E6C;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  z-index: 101;
}

/* Estilo del texto del tooltip */
.tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: rgba(96, 96, 96, 0.9);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 100;
  top: 100px;
  left: 45%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 12px;
  pointer-events: none;
}

.tooltip-icon:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}


/* Estilos para responsive movil*/
@media (max-width: 768px) {
  .dashboard-container {
    padding: 10px;
  }

  .filters-and-card {
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Reduce el espacio entre los elementos en móviles */
  }

  .total-card-container {
    width: 100%;
    flex: none; /* Hace que la tarjeta ocupe el ancho completo */
    margin-bottom: 10px;
  }

  .quick-filters {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .filter-button, .filter-select {
    width: 100%;
    text-align: center; /* Centra el texto de los botones y selects */
  }

  .table-container {
    max-width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
    margin-top: 10px;
  }

  .table-header {
    flex-direction: column; /* Cambia la disposición de los elementos en la cabecera de la tabla */
    align-items: flex-start;
    gap: 10px;
  }

  .search-filter {
    width: 100%;
  }

  .search-filter input {
    width: calc(100% - 20px); /* Hace que el input ocupe casi todo el ancho disponible */
  }
}
